extends ../layout

block content
  h1  Run for your life
  .chat-icon
  #chat-slide
    form#chatForm
      label Send message here
      textarea#msg
      input.btn.btn-primary(type="submit")
    div#chat

  script(src='/javascript/game.js')
  script(src='/javascript/controllers/chat.js')
  script(src='/javascript/crafty/scene.js')
  script(src='/javascript/crafty/properties.json')

  script(src='/javascript/crafty/entities/obstacle.js')
  script(src='/javascript/crafty/entities/wall.js')
  script(src='/javascript/crafty/entities/player.js')
  script(src='/javascript/crafty/entities/zombie.js')
  script(src='/javascript/crafty/entities/bullet.js')

  script(src='/javascript/crafty/entities/land/grass.js')
  script(src='/javascript/crafty/entities/land/walls.js')
  script(src='/javascript/crafty/entities/land/safe.js')
  script(src='/javascript/crafty/entities/land/obstacle.js')

  script(src='/javascript/crafty/components/wall.js')
  script(src='/javascript/crafty/components/obstacle.js')
  script(src='/javascript/crafty/components/playerControls.js')


  script(src='/javascript/crafty/scenes/main.js')

  #game-area
  .space
  #my-root-footer
