extends ../layout

block content
  h1  Run for your life, B*TCH!!!!!

  script(src='/javascript/game.js')
  script(src='/javascript/crafty/scene.js')

  script(src='/javascript/crafty/entities/land/grass.js')
  script(src='/javascript/crafty/entities/land/walls.js')
  script(src='/javascript/crafty/entities/land/safe.js')

  script(src='/javascript/crafty/components/wall.js')
  script(src='/javascript/crafty/components/playerControls.js')
  script(src='/javascript/crafty/components/zombieControls.js')

  script(src='/javascript/crafty/entities/wall.js')
  script(src='/javascript/crafty/entities/safe_zone.js')
  script(src='/javascript/crafty/entities/exit.js')
  script(src='/javascript/crafty/entities/entrance.js')
  script(src='/javascript/crafty/entities/player.js')
  script(src='/javascript/crafty/entities/zombie.js')

  script(src='/javascript/crafty/scenes/main.js')
