extends ../layout

block content
  script(src="/javascript/controllers/login.js")

  #login
    h1 Login page
    .col-md-6
      form#loginForm
        label Username
        input#username
        input.btn.btn-lg.btn-primary(type="submit", value="Join")
