link(rel='stylesheet', href='/stylesheets/style.css')
block content
  #err404.container
    h1 Error 404
    .row
      .col-md-6.col-md-offset-4
        h2 Page no found!

    ul 
      li 
        a(href="/") Go to the Home page
      li
        a(href="/login") Go to the Login page
      li 
        a(href="/game") Go to the Game page

    .divider


    #title
      a(href="/") ZombieWorld

