doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/socket.io/socket.io.js')
    script(src='/javascript/libs/crafty.js')
    script(src='/javascript/libs/jquery-1.10.2.min.js')
    script(src='/javascript/libs/underscore-min.js')

    script(src='/javascript/game.js')

    script(src='/javascript/crafty/scenes/main.js')
  body
    block content
