doctype 5
html
  head
    title= ZombieWorld
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/socket.io/socket.io.js')
    script(src='/javascript/libs/crafty.js')
    script(src='/javascript/libs/jquery-1.10.2.min.js')
    script(src='/javascript/libs/underscore-min.js')
    script(src='/javascript/home.js')
  body#main-container
    nav.navbar.navbar-inverse(role="navigation")
      .navbar-header
        button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target=".navbar-ex8-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand#title(href="/") ZombieWorld

      .navbar-collapse.navbar-ex8-collapse.collapse.col-md-6
        ul.nav.navbar-nav
          li.active 
            a(href="/") Home
          li
            a(href="/login") Login
          li
            a(href="game") Game

      .col-lg-3.pull-rigth.logo-tango
        a(href="http://tangosource.com")
          img(src="/images/logo.png")


    block content

    #my-root-footer

  footer.navbar-fixed-bottom#my-footer
    p ZombieWorld | TangoSource | 2013
    
