/* line 3, ../sass/index.sass */
#hand-fixed {
  background: black url("../../images/zombie-hand.jpg") no-repeat;
  background-size: 100%;
  overflow: hidden;
  position: fixed;
  height: 90%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 14, ../sass/index.sass */
h1 {
  font-size: 24px;
}

/* line 17, ../sass/index.sass */
p {
  font-size: 18px;
}

/* line 20, ../sass/index.sass */
a {
  color: #908b6c;
}

/* line 23, ../sass/index.sass */
.btn-primary {
  background: #262f1e;
  border-color: #1a1e16;
}
/* line 26, ../sass/index.sass */
.btn-primary:hover {
  background: #1a1e16;
  border-color: #1a1e16;
}

/* line 30, ../sass/index.sass */
#introduction {
  -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  width: 100%;
  margin: 400px 0 0;
  min-height: 350px;
  background: #e3e1c7;
  padding: 40px;
  text-align: center;
  line-height: 44px;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 360px;
  white-space: nowrap;
}
/* line 43, ../sass/index.sass */
#introduction .btn {
  margin-top: 40px;
}
/* line 45, ../sass/index.sass */
#introduction::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: inherit;
}
/* line 49, ../sass/index.sass */
#introduction::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  -webkit-border-radius: 1ex;
}
/* line 52, ../sass/index.sass */
#introduction::-webkit-scrollbar-track {
  background: none;
}
/* line 56, ../sass/index.sass */
#introduction .step-one {
  display: inline-block;
  width: 100%;
}
/* line 60, ../sass/index.sass */
#introduction .step-two {
  display: inline-block;
  width: 100%;
}

/* line 64, ../sass/index.sass */
.next, .prev {
  float: right;
  background: #bcb99e;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  line-height: 50px;
  padding-left: 4px;
  cursor: pointer;
}
/* line 73, ../sass/index.sass */
.next:hover, .prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 76, ../sass/index.sass */
.prev {
  float: left;
  line-height: 49px;
  padding-left: 1px;
}

/* line 83, ../sass/index.sass */
#login {
  background: rgba(188, 185, 158, 0.4) url("../../images/zom1.png") no-repeat 90% 90%;
  height: 700px;
  margin: 60px;
  padding: 40px;
}
/* line 88, ../sass/index.sass */
#login h1 {
  font-size: 48px;
  color: #cdccbc;
}
/* line 91, ../sass/index.sass */
#login .col-md-6 {
  margin: 0 auto;
  float: none;
  text-align: center;
}
/* line 95, ../sass/index.sass */
#login .col-md-6 label {
  font-size: 48px;
  color: #524832;
  margin-bottom: 45px;
  width: 100%;
}
/* line 100, ../sass/index.sass */
#login .col-md-6 .btn {
  clear: both;
  width: 180px;
  height: 60px;
}

/* line 104, ../sass/index.sass */
#username, #chat-slide textarea {
  -webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.46);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.46);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 5px solid #626154;
  background: #cdccbc;
  width: 80%;
  height: 90px;
  margin-bottom: 100px;
  padding: 20px;
}

/* line 115, ../sass/index.sass */
input[type="text"], input[type="password"] {
  outline: 0;
}

/* line 118, ../sass/index.sass */
.space {
  height: 48px;
}

/* line 121, ../sass/index.sass */
.chat-icon {
  display: none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
@media (max-width: 1450px) {
  /* line 121, ../sass/index.sass */
  .chat-icon {
    background: transparent url("../../images/chat.png") no-repeat;
    position: absolute;
    display: block;
    top: 120px;
    right: 0;
    height: 64px;
    width: 64px;
    z-index: 999;
  }
  /* line 133, ../sass/index.sass */
  .chat-icon.open {
    right: 38%;
    background: transparent url("../../images/close.png") no-repeat center center;
  }
}

/* line 137, ../sass/index.sass */
#chat-slide {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: rgba(98, 97, 84, 0.6);
  color: #cdccbc;
  position: absolute;
  right: 0;
  height: 400px;
  text-align: center;
  width: 18%;
  height: 640px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
@media (min-width: 1451px) {
  /* line 137, ../sass/index.sass */
  #chat-slide {
    width: 18%;
    display: block !important;
  }
}
@media (max-width: 1450px) {
  /* line 137, ../sass/index.sass */
  #chat-slide {
    width: 0;
    overflow: hidden;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  /* line 156, ../sass/index.sass */
  #chat-slide.visible {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    width: 38%;
    display: block !important;
    z-index: 9999;
  }
}
/* line 161, ../sass/index.sass */
#chat-slide label {
  color: #cdccbc;
  width: 100%;
}
/* line 164, ../sass/index.sass */
#chat-slide textarea {
  margin-bottom: 20px;
}
/* line 168, ../sass/index.sass */
#chat-slide #chat {
  margin: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: 460px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 175, ../sass/index.sass */
#chat-slide #chat p {
  word-wrap: break-word;
  text-align: left;
  font-size: 16px;
}
/* line 179, ../sass/index.sass */
#chat-slide #chat p:nth-child(odd) {
  background: rgba(0, 0, 0, 0.8);
}
/* line 181, ../sass/index.sass */
#chat-slide #chat p:nth-child(even) {
  background: transparent;
}
