/* line 3, ../sass/index.sass */
#hand-fixed {
  background: black url("../../images/zombie-hand.jpg") no-repeat;
  background-size: 100%;
  overflow: hidden;
  position: fixed;
  height: 90%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 14, ../sass/index.sass */
h1 {
  font-size: 24px;
}

/* line 17, ../sass/index.sass */
p {
  font-size: 18px;
}

/* line 20, ../sass/index.sass */
a {
  color: #908b6c;
}

/* line 23, ../sass/index.sass */
.btn-primary {
  background: #262f1e;
  border-color: #1a1e16;
}
/* line 26, ../sass/index.sass */
.btn-primary:hover {
  background: #1a1e16;
}

/* line 29, ../sass/index.sass */
#introduction {
  -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  width: 100%;
  margin: 400px 0 0;
  min-height: 350px;
  background: #e3e1c7;
  padding: 40px;
  text-align: center;
  line-height: 44px;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 360px;
  white-space: nowrap;
}
/* line 42, ../sass/index.sass */
#introduction .btn {
  margin-top: 40px;
}
/* line 44, ../sass/index.sass */
#introduction::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: inherit;
}
/* line 48, ../sass/index.sass */
#introduction::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  -webkit-border-radius: 1ex;
}
/* line 51, ../sass/index.sass */
#introduction::-webkit-scrollbar-track {
  background: none;
}
/* line 55, ../sass/index.sass */
#introduction .step-one {
  display: inline-block;
  width: 100%;
}
/* line 59, ../sass/index.sass */
#introduction .step-two {
  display: inline-block;
  width: 100%;
}

/* line 63, ../sass/index.sass */
.next, .prev {
  float: right;
  background: #bcb99e;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  line-height: 50px;
  padding-left: 4px;
  cursor: pointer;
}
/* line 72, ../sass/index.sass */
.next:hover, .prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 75, ../sass/index.sass */
.prev {
  float: left;
  line-height: 49px;
  padding-left: 1px;
}

/* line 82, ../sass/index.sass */
#login {
  background: rgba(188, 185, 158, 0.4) url("../../images/zom1.png") no-repeat 90% 90%;
  height: 700px;
  margin: 60px;
  padding: 40px;
}
/* line 87, ../sass/index.sass */
#login h1 {
  font-size: 48px;
  color: #cdccbc;
}
/* line 90, ../sass/index.sass */
#login .col-md-6 {
  margin: 0 auto;
  float: none;
  text-align: center;
}
/* line 94, ../sass/index.sass */
#login .col-md-6 label {
  font-size: 48px;
  color: #524832;
  margin-bottom: 45px;
  width: 100%;
}
/* line 99, ../sass/index.sass */
#login .col-md-6 #username {
  -webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.46);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.46);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 5px solid #626154;
  background: #cdccbc;
  width: 80%;
  height: 90px;
  margin-bottom: 100px;
  padding: 20px;
}
/* line 108, ../sass/index.sass */
#login .col-md-6 .btn {
  clear: both;
  clear: both;
  width: 180px;
  height: 60px;
}

/* line 115, ../sass/index.sass */
input[type="text"], input[type="password"] {
  outline: 0;
}

/* line 118, ../sass/index.sass */
.space {
  height: 48px;
}

/* line 121, ../sass/index.sass */
#chat-slide {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  right: 0;
}
