@import url(../css/bootstrap.min.css);
@import url(../css/fonts.css);
/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/main.sass */
body {
  overflow: auto;
  font: 14px "mine", Helvetica, Arial, sans-serif;
  min-width: 1200px;
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;
  background-color: #302c28;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.1)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.1)), color-stop(0.75, rgba(255, 255, 255, 0.1)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
}

/* line 25, ../sass/main.sass */
#title {
  font-size: 60px;
}
@media (max-width: 1450px) {
  /* line 25, ../sass/main.sass */
  #title {
    font-size: 40px;
  }
}

/* line 31, ../sass/main.sass */
.navbar.navbar-inverse {
  padding: 20px 40px;
  height: 100px;
  background: rgba(35, 28, 21, 0.4);
}
/* line 35, ../sass/main.sass */
.navbar.navbar-inverse .navbar-collapse {
  background: transparent;
}
/* line 37, ../sass/main.sass */
.navbar.navbar-inverse .logo-tango {
  text-align: right;
  float: right;
  margin: 10px;
}
@media (max-width: 1450px) {
  /* line 37, ../sass/main.sass */
  .navbar.navbar-inverse .logo-tango {
    display: none;
  }
}

/* line 44, ../sass/main.sass */
footer {
  background: rgba(0, 0, 0, 0.6);
  height: 60px;
  text-align: center;
  padding-top: 17px;
  color: #cdccbc;
  margin-bottom: -60px;
}

/* line 10, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#main-container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -60px;
}
/* line 18, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#main-container #my-root-footer {
  height: 60px;
}

/* line 20, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#my-footer {
  clear: both;
  position: relative;
  height: 60px;
}

/* line 3, ../sass/index.sass */
#hand-fixed {
  background: black url("../../images/zombie-hand.jpg") no-repeat;
  background-size: 100%;
  overflow: hidden;
  position: fixed;
  height: 90%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 14, ../sass/index.sass */
h1 {
  font-size: 24px;
}

/* line 17, ../sass/index.sass */
p {
  font-size: 18px;
}

/* line 20, ../sass/index.sass */
a {
  color: #908b6c;
}

/* line 23, ../sass/index.sass */
.btn-primary {
  background: #262f1e;
  border-color: #1a1e16;
}
/* line 26, ../sass/index.sass */
.btn-primary:hover {
  background: #1a1e16;
  border-color: #1a1e16;
}

/* line 30, ../sass/index.sass */
#introduction {
  -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  width: 100%;
  margin: 400px 0 0;
  min-height: 350px;
  background: #e3e1c7;
  padding: 40px;
  text-align: center;
  line-height: 44px;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 360px;
  white-space: nowrap;
}
/* line 43, ../sass/index.sass */
#introduction .btn {
  margin-top: 40px;
}
/* line 45, ../sass/index.sass */
#introduction::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: inherit;
}
/* line 49, ../sass/index.sass */
#introduction::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  -webkit-border-radius: 1ex;
}
/* line 52, ../sass/index.sass */
#introduction::-webkit-scrollbar-track {
  background: none;
}
/* line 56, ../sass/index.sass */
#introduction .step-one {
  display: inline-block;
  width: 100%;
}
/* line 60, ../sass/index.sass */
#introduction .step-two {
  display: inline-block;
  width: 100%;
}

/* line 64, ../sass/index.sass */
.next, .prev {
  float: right;
  background: #bcb99e;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  line-height: 50px;
  padding-left: 4px;
  cursor: pointer;
}
/* line 73, ../sass/index.sass */
.next:hover, .prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 76, ../sass/index.sass */
.prev {
  float: left;
  line-height: 49px;
  padding-left: 1px;
}

/* line 83, ../sass/index.sass */
#login {
  background: rgba(188, 185, 158, 0.4) url("../../images/zom1.png") no-repeat 90% 90%;
  height: 700px;
  margin: 60px;
  padding: 40px;
}
/* line 88, ../sass/index.sass */
#login h1 {
  font-size: 48px;
  color: #cdccbc;
}
/* line 91, ../sass/index.sass */
#login .col-md-6 {
  margin: 0 auto;
  float: none;
  text-align: center;
}
/* line 95, ../sass/index.sass */
#login .col-md-6 label {
  font-size: 48px;
  color: #524832;
  margin-bottom: 45px;
  width: 100%;
}
/* line 100, ../sass/index.sass */
#login .col-md-6 .btn {
  clear: both;
  width: 180px;
  height: 60px;
}

/* line 104, ../sass/index.sass */
#username, #chat-slide textarea {
  -webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.46);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.46);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 5px solid #626154;
  background: #cdccbc;
  width: 80%;
  height: 90px;
  margin-bottom: 100px;
  padding: 20px;
}

/* line 115, ../sass/index.sass */
input[type="text"], input[type="password"] {
  outline: 0;
}

/* line 118, ../sass/index.sass */
.space {
  height: 48px;
}

/* line 121, ../sass/index.sass */
.chat-icon {
  display: none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
@media (max-width: 1450px) {
  /* line 121, ../sass/index.sass */
  .chat-icon {
    background: transparent url("../../images/chat.png") no-repeat;
    position: absolute;
    display: block;
    top: 120px;
    right: 0;
    height: 64px;
    width: 64px;
    z-index: 999;
  }
  /* line 133, ../sass/index.sass */
  .chat-icon.open {
    right: 38%;
    background: transparent url("../../images/close.png") no-repeat center center;
  }
}

/* line 137, ../sass/index.sass */
#chat-slide {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: rgba(98, 97, 84, 0.6);
  color: #cdccbc;
  position: absolute;
  right: 0;
  height: 400px;
  text-align: center;
  width: 18%;
  height: 640px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
@media (min-width: 1451px) {
  /* line 137, ../sass/index.sass */
  #chat-slide {
    width: 18%;
    display: block !important;
  }
}
@media (max-width: 1450px) {
  /* line 137, ../sass/index.sass */
  #chat-slide {
    width: 0;
    overflow: hidden;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  /* line 156, ../sass/index.sass */
  #chat-slide.visible {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    width: 38%;
    display: block !important;
    z-index: 9999;
  }
}
/* line 161, ../sass/index.sass */
#chat-slide label {
  color: #cdccbc;
  width: 100%;
}
/* line 164, ../sass/index.sass */
#chat-slide textarea {
  margin-bottom: 20px;
}
/* line 168, ../sass/index.sass */
#chat-slide #chat {
  margin: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: 460px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 175, ../sass/index.sass */
#chat-slide #chat p {
  word-wrap: break-word;
  text-align: left;
  font-size: 16px;
}
/* line 179, ../sass/index.sass */
#chat-slide #chat p:nth-child(odd) {
  background: rgba(0, 0, 0, 0.8);
}
/* line 181, ../sass/index.sass */
#chat-slide #chat p:nth-child(even) {
  background: transparent;
}

/* line 1, ../sass/error.sass */
#err404 {
  color: #cdccbc;
  background: transparent url("../../images/zom2.png") no-repeat 90% 40%;
  padding: 80px 0;
}
/* line 6, ../sass/error.sass */
#err404 h1 {
  font-size: 72px;
  color: #cdccbc;
}
/* line 10, ../sass/error.sass */
#err404 h2 {
  font-size: 48px;
  color: #cdccbc;
  margin-top: 40px;
}
/* line 15, ../sass/error.sass */
#err404 ul {
  margin: 50px 0;
}
/* line 17, ../sass/error.sass */
#err404 ul li a {
  font-size: 24px;
}
/* line 20, ../sass/error.sass */
#err404 .divider {
  width: 60%;
  border: 3px solid #897943;
  margin-bottom: 60px;
}
/* line 25, ../sass/error.sass */
#err404 #title {
  font-size: 60px;
  color: #cdccbc;
}
