@import "compass/reset"
@import "compass/css3"
@import "../css/bootstrap.min.css"

body
  +box-sizing(border-box)
  +border-radius
  padding: 50px
  overflow: hidden
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif


